@import '../../../colors';
.inputs-div {
  width: 100%;
  transition-delay: 0ms;
  transition: max-height 1s cubic-bezier(0, 0.2, 1, 0.92);
  max-height: 50vh;
  overflow-y: hidden;
  padding-bottom: 1.5rem;
  border-bottom: 1px solid $gray-e9;

  &.hide {
    max-height: 0;
  }
  .bvn-inputs,
  .pa-inputs {
    &.hide {
      display: none;
    }
  }
  .pa-inputs {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 80px;
    @media screen and (max-width: 1300px) {
      gap: 20px;
    }
  }
}

.form-footer {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  padding: 1rem 0;
}
